---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Millennium%20Park,%20Chicago&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Millennium Park",
                       "short_name" : "Millennium Park",
                       "types" : [ "establishment", "park", "point_of_interest" ]
                    },
                    {
                       "long_name" : "201",
                       "short_name" : "201",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "East Randolph Street",
                       "short_name" : "E Randolph St",
                       "types" : [ "route" ]
                    },
                    {
            [...]
[...]
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACe5ad25bfc3c440ec67d5c91c00730f69/Messages.json
    body:
      encoding: US-ASCII
      string: From=15005550006&To=8152286924&Body=The+location+%27The+Bean%27+was+just+added.+Go+vet+it%21
    headers:
      Authorization:
      - Basic QUNlNWFkMjViZmMzYzQ0MGVjNjdkNWM5MWMwMDczMGY2OToyZDA5YTAxNGZiM2VlZjMyMmRmNjljN2I1MjQ3MjdmNg==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.056'
      Twilio-Request-Id:
      - RQd78fe7b25a9c4d678e9d15eb72e0a2ff
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SMf7d30a0c50384599bf99db647930f3a1", "date_created": "Wed,
        15 Mar 2017 20:37:52 +0000", "date_updated": "Wed, 15 Mar 2017 20:37:52 +0000",
        "date_sent": null, "account_sid": "ACe5ad25bfc3c440ec67d5c91c00730f69", "to":
        "+18152286924", "from": "15005550006", "messaging_service_sid": null, "body":
        "Sent from your Twilio trial account - The location ''The Bean'' was just
        added. Go vet it!", "status": "queued", "num_segments": "1", "num_media":
        "0", "direction": "outbound-api", "api_version": "2010-04-01", "price": null,
        "price_unit": "USD", "error_code": null, "error_message": null, "uri": "/2010-04-01/Accounts/ACe5ad25bfc3c440ec67d5c91c00730f69/Messages/SMf7d30a0c50384599bf99db647930f3a1.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/ACe5ad25bfc3c440ec67d5c91c00730f69/Messages/SMf7d30a0c50384599bf99db647930f3a1/Media.json"}}'
  recorded_at: Wed, 15 Mar 2017 20:37:52 GMT
recorded_with: VCR 3.0.3
