---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Millennium%20Park,%20Chicago&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Millennium Park",
                       "short_name" : "Millennium Park",
                       "types" : [ "establishment", "park", "point_of_interest" ]
                    },
                    {
                       "long_name" : "201",
                       "short_name" : "201",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "East Randolph Street",
                       "short_name" : "E Randolph St",
                       "types" : [ "route" ]
                    },
                    {
            [...]
